![TP](../TeachersPro-logo-color.png)

# Twitter Analytics

### Lenin Escobar <lenin.escobar@net.teacherspro.com> - Descriptive analytics (12-August-2021)

In [1]:
%config IPCompleter.greedy=True
%load_ext memory_profiler
%matplotlib inline
%run TwitterAnalysisHelper.ipynb
%run TwitterAnalysisGeneralHelper.ipynb
#%run DSF_FINAL_PROJECT_Plot.ipynb

/opt/conda/lib/python3.8/site-packages/gensim/similarities/__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

<h1 style="background-color:#D7F5FF;font-size:300%;">Twitter DB</h1>

In [2]:
#Connecting to sqlite3 database
dbConn = Sqlite3Db('data/social_network.db')

In [3]:
dbConn.query('''SELECT insert_timestamp, tweet_timestamp, tweet_term, tweet, place_type, place_name, place_full_name, place_country_code, place_country FROM Tweets; ''')

sqlStmRes = dbConn.cursor.fetchall()
#print(type(sqlStmRes))
#print(sqlStmRes)
df_Tweets_original = pd.DataFrame(sqlStmRes, columns =['insert_timestamp','tweet_timestamp','tweet_term', 'tweet', 'place_type', 'place_name', 'place_full_name', 'place_country_code', 'place_country'])

In [4]:
#Closing sqlite3 datbase connection
dbConn.close()

In [5]:
df_Tweets_original.head(3)

,insert_timestamp,tweet_timestamp,tweet_term,tweet,place_type,place_name,place_full_name,place_country_code,place_country
0,2021-08-11 14:19:45.946146,2021-08-04 23:59:14,b'#edchat',b'RT @Catlin_Tucker: Worried about keeping you...,Undefined,Undefined,Undefined,Undefined,Undefined
1,2021-08-11 14:19:45.946839,2021-08-04 23:58:48,b'#edchat',b'RT @mcleod: \xe2\x80\x9cThe focus for public...,Undefined,Undefined,Undefined,Undefined,Undefined
2,2021-08-11 14:19:45.947049,2021-08-04 23:57:15,b'#edchat',b'RT @TCEA: 10 Evidence-Based #Teaching Strate...,Undefined,Undefined,Undefined,Undefined,Undefined

In [6]:
df_Tweets_original.shape

(770, 9)

In [7]:
df_Tweets_original.dtypes

insert_timestamp      datetime64[ns]
tweet_timestamp       datetime64[ns]
tweet_term                    object
tweet                         object
place_type                    object
place_name                    object
place_full_name               object
place_country_code            object
place_country                 object
dtype: object